@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --c-primary: #000;
    --c-gradient: to right, #FFFE48, #FF8803, #FF273B, #E938CA, #A502E2, #1EB5FF, #0389FB, #52D799, #06D80A  ;
}

body {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c-primary);
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 80%;
    border-bottom: solid 5px;
    border-image: linear-gradient(var(--c-gradient)) 1;
    color: white;
}

header img {
    height: 150px;
    width: 150px;
}

.menu-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}

.ul-menu-top {
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    gap: 20px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.ul-menu-top-right {
    list-style: none;
    display: flex;
    padding: 10px;
    gap: 20px;
}

.mid-header {
    display: flex;
    flex-direction: row;
    
}

.menu-mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.input-box {
    display: flex;
    justify-content: center;
    width: 45%;
    height: 40%;
    position: relative;
}

.input-box input {
    position: absolute;
    width: 100%;
    height: 60%;
    border-radius: 5px;
    border: none;
}

.icone-busca {
    position: absolute;
    padding-top: 1.5%;
    padding-left: 90%;
}

.menu-input-box {
    display: flex;
    padding-top: 10%;
    list-style-type: none;
    font-size: 0.7rem;
    gap: 5px;
}

.mensagem-bem-vindo {
    display: flex;
    flex-direction: column;
}

.ofertas-regiao {
    gap: 5px;
    display: flex;
    align-items: center;
    width: 20%;
}

.fa-location-pin {
    font-size: 2rem;
    height: 100%;

}

.fa-heart {
    font-size: 2rem;
}

.fa-bag-shopping {
    font-size: 2rem;
}

.menu-produtos {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 16px;
    padding: 10px;
    font-size: 0.9rem;
}

.fa-bars {
    padding: 6px;
}

.fa-chevron-down {
    padding: 5px;
}

.fa-credit-card {
    padding: 5px;
}

main {
    background-color: rgb(250, 250, 250);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-main {
    width: 75%;
}

.container-carrossel {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: tomato;
    height: 20vh;
}

.container-carrossel img {
    border-radius: 15px;
}

.mid-main {
    width: 75%;
}

.container-slider {
    position: relative;
    height: 35vh;
    width: 100%;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-produtos {
    position: absolute;
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding-inline: 50px;
    gap: 15px;
    overflow: hidden;
}

.produto:first-child {
     /* margin-left: -19%; */
}

.produto {
    display: flex;
    flex-direction: column;
    height: 32vh;
    min-width: 18%;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    justify-content: space-evenly;
    position: relative;
}

.div-invisivel-click {
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 32vh;
}

.produto:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.container-descricao{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container-descricao label{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.container-descricao p {
    font-size: 12px;
    text-align: justify;
}

.container-descricao span {
    font-weight: 600;
    display: flex;
    
}

.produto img {
    object-fit: contain;
    width: 70%;
    height: 100%;
}

.container-slider button {
    z-index: 1;
    width: 2rem;
    height: 90%;
    font-size: 1rem;
    background-color: white;
    border: none;
    cursor: pointer;
}

.previous {
    box-shadow: 5px 0 10px 5px  #FFF;
}

.next {
    box-shadow: -5px 0 10px 5px  #FFF;
}